

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome</h1>

    <h3 class="text-white">Since we built our e-commerce school project using Razor Pages, I decided to recreate it on my own using MVC controllers as a self-study project to better understand the MVC pattern.</h3>
</div>

<div>
    <img class="img-fluid" src="~/images/CrownGardenHills-Hero3.jpg" alt="Crown Garden Hills" />
</div>